.container {
    background-image: url("../assets/girls.png");
    background-size: auto 100%;
    background-position: center;
    min-height: 60vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    margin-bottom: 0 !important;
    padding: 0 32px;
    box-sizing: border-box;
}

.container > * {
    width: 100%;
    max-width: 448px;
}

.container > p {
    padding: 0 10px;
    box-sizing: border-box;
}

.heading {
    font-family: var(--heading-font);
    font-size: 1.5em;
    margin: 0;
}

.join {
    cursor: pointer;
    padding: 10px 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #ff97a8;
    color: #000000;
    font-size: 18px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0 1.5px 0 0.5px var(--primary-heading);
    box-sizing: border-box;
}

.join img {
    height: 20px;
}