@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Lato, "serif";
  --heading-font: Fraunces, "serif";
  --text-font: Lato, "serif";
  --primary-text: #384252;
  --primary-heading: oklch(21% 0.006 285.885);
}

.container > div {
    margin: 25px 0;
}